[submodule "rxjs-course"]
	path = rxjs-course
	url = https://github.com/angular-university/rxjs-course.git
[submodule "rxjs/rxjs-course"]
	path = rxjs/rxjs-course
	url = https://github.com/angular-university/rxjs-course.git
